.App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40px;
    pointer-events: none;
  }
  
  .App-header {
    background-color: #282c34;
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 20px;
    justify-content: center;
  }
  .header-Text{
    color: #61dafb;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .table{
    outline-style: auto;
  }
  .Logout{
    right: 4%;
    position: absolute;
    margin: 5px;
  }
  
  
  /* buttons  */
  .holidays,.noholidays {
    box-shadow: none;
    padding: 4px 10px;
    text-shadow: none;
      margin-right: 5px;
      margin-bottom: 5px;
      border-radius: 10px;
      display: inline-flex;
      align-items: center;
      font-size: 13px;
      border: none;
      outline:none;
      white-space: nowrap;
  }
  .holidays:focus,.noholidays:focus {outline:0;}
  
  /*  select dropdown */
  
  
  
  .dropdown__select {
    border-radius: 2px;
    border: 2px solid rgba(46, 46, 46, 0.4);
    box-sizing: border-box;
    font-family: inherit;
    font-size: 16px;
    height: 40px;
    margin: 4px ;
    padding: 0 27px 0 10px; 
    user-select: none;
    cursor: pointer;
    text-overflow: ellipsis;
    outline: none;
    background: white;
    appearance: none;
  }
  
  .tooltip-wrapper .btn[disabled] {
    /* don't let button block mouse events from reaching wrapper */
    pointer-events: none;
  }
  
  .tooltip-wrapper.disabled {
    /* OPTIONAL pointer-events setting above blocks cursor setting, so set it here */
    cursor: not-allowed;
  }
  
  #div_fillsheet, #div_holiday{
    padding: 5px;
  }
  .info {
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
  }
  
  /**/
  .Menu{
  
    color: white;
    font-size: 20px;
    justify-content: center;
    background: #61dafb;
    display: flex;
    font-size: 24px;
    
  }
  .menu-link{
  
    color: white;
    margin: 0px 10px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 1px !important;
    text-align: center;
    /* border: 1px solid red; */
  }
  /* #menu-link #active{
    background: #f39c12;
  }  */
  .menu-link:hover  {
    background: #f39c12;
    /* background: darken($primarycolor, 20%); */
  
  }
   .orange {
    background: #f39c12;
  }
  
  /**/